<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxconn.bidding.mapper.UserMapper">
    <!-- 註冊提交前判斷用戶是否存在 -->
    <select id="query_user_is_exist" parameterType="String" resultType="Integer">
        select count(*) from USER_INFO t where t.username = #{username}
    </select>

    <!-- 新增用戶信息 -->
    <insert id="add_USER_INFO" parameterType="com.foxconn.bidding.model.USER_INFO_bean">
        insert into USER_INFO
          (username,
           password,
           in_out_type,
           send_recv_type,
           fctry_zone,
           secn_cmpy,
           entrps_group,
           pd_office,
           dept_name,
           legal_person,
           cost_code,
           recv_mnufc_range,
           bank_name,
           bank_acunt,
           busis_mngr,
           tel,
           email,
           summary,
           user_pic_file_pkid)
        values
          (#{username},
           #{password},
           #{in_out_type},
           #{send_recv_type},
           #{fctry_zone},
           #{secn_cmpy},
           #{entrps_group},
           #{pd_office},
           #{dept_name},
           #{legal_person},
           #{cost_code},
           #{recv_mnufc_range},
           #{bank_name},
           #{bank_acunt},
           #{busis_mngr},
           #{tel},
           #{email},
           #{summary},
           #{user_pic_file_pkid})
    </insert>

    <!-- 新增用戶頭像文件 -->
    <insert id="add_USER_PIC_FILE" parameterType="com.foxconn.bidding.model.USER_PIC_FILE_bean">
        insert into USER_PIC_FILE
          (pkid, file_origin_name, file_save_name, file_save_path)
        values
          (#{pkid}, #{file_origin_name}, #{file_save_name}, #{file_save_path})
    </insert>

    <!-- 通過用戶名查詢用戶 -->
    <select id="query_user_by_username" parameterType="String" resultType="com.foxconn.bidding.model.USER_INFO_bean">
        select t.* from USER_INFO t where t.username = #{username}
    </select>

    <!-- 通過id查找用戶 -->
    <select id="findUserById" parameterType="String" resultType="com.foxconn.bidding.model.USER_INFO_bean">
        select t.* from USER_INFO t where t.pkid = #{pkid}
    </select>

    <!-- 查詢用戶頭像文件 -->
    <select id="query_user_pic_file" parameterType="String" resultType="com.foxconn.bidding.model.USER_PIC_FILE_bean">
        select t.* from USER_PIC_FILE t where t.pkid = #{user_pic_file_pkid}
    </select>

    <!-- 注釋模板，放在最後一行 -->
</mapper>